<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Gift's Closet</title>

		<!--
    - favicon
  -->
		<link
			rel="shortcut icon"
			href="./assets/images/logo/favicon.ico"
			type="image/x-icon"
		/>

		<!--
    - custom css link
  -->
		<link rel="stylesheet" href="./assets/css/style-prefix.css" />
		<!-- <link rel="stylesheet" href="./assets/css/style.css" /> -->

		<!--
    - google font link
  -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<style>
			a {
			all: unset;
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

	<body>
		<div class="offcanvas">
			<div class="offcanvas-content">
				<button class="close-btn" onclick="cancelConfirmation()">&times;</button>
				<nav>
						<h2 class="montserrat">Confirm Order</h2>
					
					
						<ul class="card">
						<h3 style="color: var(--bittersweet);">Cart</h3>
						<table class="product-table">
							
						</table>
				
					</ul>
						<ul class="card">
						<h3 style="color:var(--bittersweet);">Your Details </h3>
						<table class="userDetailsTable ">
					
							<tbody>
								<form action="">
							<tr>
								<td><label for="fullName">Full Name: </label></td>
								<td><input type="text" name="fullName" required id="fullName"></td>
							
							</tr>
							<tr>
								<td><label for="userEmail">Email Address: </label></td>
								<td><input type="email" name="userEmail" required id="userEmail"></td>
							</tr>
							<tr>
							<td><label for="phoneNumber">Phone Number: </label> </td>
							<td><input type="tel" name="phoneNumber" required id="phoneNumber"> </td>
							</tr>
							<tr>
							<td><label for="deliveryLocation">Your Location: </label> </td>
							<td><input type="text" name="deliveryLocation" required placeholder="Eg: Utawala,Nairobi" id="deliveryLocation"> </td>

							</tr>
							</tbody>
						
							<tfoot>
								<tr>
									<td  class="montserrat">Total Billed: </td>
								
									<td id="CartTotal"></td>
								</tr>
							</tfoot>
						</table>
				
					</ul>
					<ul style="display:flex;justify-content: center; text-align: center; gap:0 2rem ;">
					</form>
						<button class="card" id="cancelBtn" onclick="cancelConfirmation()" >
							Cancel
						</button>
						<button class="card" id="confirmBtn"  >
							Place Order
						</button>
					
					</ul>
					
				</nav>
				</div>
              
				
				<div class="service-container" style="display: flex; justify-content: center;">
					<a href="#" class="service-item">
						<div class="service-icon">
							<ion-icon name="call-outline" role="img" class="md hydrated" aria-label="call outline"></ion-icon>
						</div>

						<div class="service-content">
							<h3 class="service-title">Order Confirmation Call </h3>
							<p class="service-desc">Best Online Support</p>
						</div>
					</a>
					<a href="#" class="service-item">
						<div class="service-icon">
							<ion-icon name="boat-outline" role="img" class="md hydrated" aria-label="boat outline"></ion-icon>
						</div>

						<div class="service-content">
							<h3 class="service-title">Pay On Delivery</h3>
							<p class="service-desc">Order Around Nairobi</p>
						</div>
					</a>

					<a href="#" class="service-item">
						<div class="service-icon">
							<ion-icon name="rocket-outline" role="img" class="md hydrated" aria-label="rocket outline"></ion-icon>
						</div>

						<div class="service-content">
							<h3 class="service-title">Next Day delivery</h3>
							<p class="service-desc">Nairobi Orders Only</p>
						</div>
					</a>

					

					<a href="#" class="service-item">
						<div class="service-icon">
							<ion-icon name="arrow-undo-outline" role="img" class="md hydrated" aria-label="arrow undo outline"></ion-icon>
						</div>

						<div class="service-content">
							<h3 class="service-title">Return Policy</h3>
							<p class="service-desc">Easy &amp; Free Return</p>
						</div>
					</a>

					
				</div>
		</div>

		<div class="overlay" data-overlay>
		</div>
	

		<!--
    - MODAL
  -->

		<div class="modal" data-modal>
			<div class="modal-close-overlay" data-modal-overlay>

            </div>

			<div class="modal-content">
				<button class="modal-close-btn" data-modal-close>
					<ion-icon name="close-outline"></ion-icon>
				</button>

				<div class="newsletter-img">
					<img
						src="./assets/images/newsletter.png"
						alt="subscribe newsletter"
						width="400"
						height="400"
					/>
				</div>

				<div class="newsletter">
					<form  id="newsletterForm">
						<div class="newsletter-header">
							<h3 class="newsletter-title">Subscribe Newsletter.</h3>

							<p class="newsletter-desc">
								Subscribe <b>Gift's</b> mailing list to get latest products and discount
								update.
							</p>
						</div>

						<input
							id="newsletterEmail"
							type="email"
							name="newsletterEmail"
							class="email-field"
							placeholder="Email Address"
							required
						/>

						<button type="submit" class="btn-newsletter">Subscribe</button>
					</form>
					
				</div>
			</div>
		</div>

		<!--
    - NOTIFICATION TOAST
  -->

		<div class="notification-toast" data-toast>
			<button class="toast-close-btn" data-toast-close>
				<ion-icon name="close-outline"></ion-icon>
			</button>

			<div class="toast-banner">
				<img
					src="./assets/images/products/jewellery-1.jpg"
					alt="Rose Gold Earrings"
					width="80"
					height="70"
				/>
			</div>

			<div class="toast-detail">
				<p class="toast-message">Someone in new just bought</p>

				<p class="toast-title">Rose Gold Earrings</p>

				<p class="toast-meta"><time datetime="PT2M">2 Minutes</time> ago</p>
			</div>
		</div>

		<!--
    - HEADER
  -->

		<header id="header">
			<div class="header-top">
				<div class="container">
					<ul class="header-social-container">
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-facebook"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-twitter"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-instagram"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-linkedin"></ion-icon>
							</a>
						</li>
					</ul>

					<div class="header-alert-news">
						<p>
							<b class="montserrat">Free Shipping</b> &nbsp;|| &nbsp;
							This Week Order Over - Ksh 1500 ||  &nbsp;
							<b class="montserrat">Pay on Delivery</b>
						</p>
					
					</div>

					<div class="header-top-actions">
						<select name="currency">
							<option value="ksh">Ksh</option>
						</select>

						<select name="language">
							<option value="en-US">English</option>
						</select>
					</div>
				</div>
			</div>

			<div class="header-main">
				<div class="container">
					
					
            <h1 class="montserrat">Gift's Closet</h1>
					 

					

					<div class="header-user-actions">
						<button class="action-btn">
							<ion-icon name="person-outline"></ion-icon>
						</button>

					

						<button class="action-btn">
							<ion-icon name="bag-handle-outline"></ion-icon>
							<span class="count cartCount2">0</span>
						</button>
					</div>
				</div>
			</div>

			<nav class="desktop-navigation-menu">
				<div class="container">
					<ul class="desktop-menu-category-list">
						<li class="menu-category">
							<a href="/" class="menu-title">Home</a>
						</li>

						<li class="menu-category">
							<a href="#" class="menu-title">Categories</a>

							<div class="dropdown-panel">
								<ul class="dropdown-panel-list">
									<li class="menu-title">
										<a href="#">Men's</a>
									</li>

									<li class="panel-list-item">
										<a href="#">Formal</a>
									</li>

									<li class="panel-list-item">
										<a href="#">Casual</a>
									</li>

									<li class="panel-list-item">
										<a href="#">Sports</a>
									</li>

									<li class="panel-list-item">
										<a href="#">
											<img
												src="./assets/images/mens-banner.jpg"
												alt="men's fashion"
												width="250"
												height="119"
											/>
										</a>
									</li>
								</ul>

								<ul class="dropdown-panel-list">
									<li class="menu-title">
										<a href="#">Women's</a>
									</li>

									<li class="panel-list-item">
										<a href="#">Formal</a>
									</li>

									<li class="panel-list-item">
										<a href="#">Casual</a>
									</li>
									<li class="panel-list-item">
										<a href="#">Sports</a>
									</li>

									<li class="panel-list-item">
										<a href="#">
											<img
												src="./assets/images/womens-banner.jpg"
												alt="women's fashion"
												width="250"
												height="119"
											/>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="menu-category">
							<a href="#" class="menu-title">Men's</a>

							<ul class="dropdown-list">
								<li class="dropdown-item">
									<a href="#">Formal</a>
								</li>

								<li class="dropdown-item">
									<a href="#">Casual</a>
								</li>

								<li class="dropdown-item">
									<a href="#">Sports</a>
								</li>
							</ul>
						</li>

						<li class="menu-category">
							<a href="#" class="menu-title">Women's</a>

							<ul class="dropdown-list">
								<li class="dropdown-item">
									<a href="#">Formal</a>
								</li>

								<li class="dropdown-item">
									<a href="#">Casual</a>
								</li>

								<li class="dropdown-item">
									<a href="#">Sports</a>
								</li>
							</ul>
						</li>

						<li class="menu-category">
							<a href="#" class="menu-title">Hot Offers</a>
						</li>
					</ul>
				</div>
			</nav>

			<div class="mobile-bottom-navigation">
				
				<button class="action-btn" data-mobile-menu-open-btn>
					<ion-icon name="menu-outline"></ion-icon>
					
					</button>

				
				<button class="action-btn">
					<a href="#header" class="reset">
						<ion-icon name="home-outline"></ion-icon>
					</a>
				</button>
			

				<button class="action-btn" data-mobile-menu-open-btn>
					<ion-icon name="bag-handle-outline"></ion-icon>

					<span class="count cartCount1">0</span>
					<!-- <ion-icon name="grid-outline"></ion-icon> -->
				</button>
			</div>

			<nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
				<div class="menu-top">
					<h2 class="menu-title">Menu</h2>

					<button class="menu-close-btn" data-mobile-menu-close-btn>
						<ion-icon name="close-outline"></ion-icon>
					</button>
				</div>
				<ul class="mobile-menu-category-list">
					<li class="menu-category">
						<a href="#" class="menu-title">Home</a>
					</li>

					<li class="menu-category">
						<button class="accordion-menu" data-accordion-btn>
							<p class="menu-title">Men's</p>

							<div>
								<ion-icon name="add-outline" class="add-icon"></ion-icon>
								<ion-icon name="remove-outline" class="remove-icon"></ion-icon>
							</div>
						</button>

						<ul class="submenu-category-list" data-accordion>
							<li class="submenu-category">
								<a href="#" class="submenu-title">Formal</a>
							</li>

							<li class="submenu-category">
								<a href="#" class="submenu-title">Casual</a>
							</li>

							<li class="submenu-category">
								<a href="#" class="submenu-title">Sports</a>
							</li>
						</ul>
					</li>

					<li class="menu-category">
						<button class="accordion-menu" data-accordion-btn>
							<p class="menu-title">Women's</p>

							<div>
								<ion-icon name="add-outline" class="add-icon"></ion-icon>
								<ion-icon name="remove-outline" class="remove-icon"></ion-icon>
							</div>
						</button>

						<ul class="submenu-category-list" data-accordion>
							<li class="submenu-category">
								<a href="#" class="submenu-title">Formal</a>
							</li>

							<li class="submenu-category">
								<a href="#" class="submenu-title">Casual</a>
							</li>

							<li class="submenu-category">
								<a href="#" class="submenu-title">Sports</a>
							</li>
						</ul>
					</li>

					<li class="menu-category">
						<a href="#" class="menu-title">Hot Offers</a>
					</li>
				</ul>

				<div class="menu-bottom">
					<ul class="menu-category-list">
						<li class="menu-category">
							<button class="accordion-menu" data-accordion-btn>
								<p class="menu-title">Language</p>

								<ion-icon
									name="caret-back-outline"
									class="caret-back"
								></ion-icon>
							</button>

							<ul class="submenu-category-list" data-accordion>
								<li class="submenu-category">
									<a href="#" class="submenu-title">English</a>
								</li>
							</ul>
						</li>

						<li class="menu-category">
							<button class="accordion-menu" data-accordion-btn>
								<p class="menu-title">Currency</p>
								<ion-icon
									name="caret-back-outline"
									class="caret-back"
								></ion-icon>
							</button>

							<ul class="submenu-category-list" data-accordion>
								<li class="submenu-category">
									<a href="#" class="submenu-title">Ksh</a>
								</li>
							</ul>
						</li>
					</ul>

					<ul class="menu-social-container">
						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-facebook"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-twitter"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-instagram"></ion-icon>
							</a>
						</li>

						<li>
							<a href="#" class="social-link">
								<ion-icon name="logo-linkedin"></ion-icon>
							</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<!--
    - MAIN
  -->

		<main>
			<!--
      - BANNER
    -->

			<div class="banner">
				<div class="container">
					<div class="slider-container has-scrollbar">
						<div class="slider-item">
							<img
								src="./assets/images/banner-1.jpg"
								alt="women's latest fashion sale"
								class="banner-img"
							/>

							<div class="banner-content">
								<form action="/login" method="post" >
									<p class="banner-subtitle">Admin Dashboard</p>

									<h2 class="banner-title">Please Login</h2>

									<p class="banner-text" >
										<div class="header-search-container" style="margin-bottom:2rem;" >
											<input
												type="text"
												name="username"
												class="search-field"
												placeholder="Email"
												style="margin-bottom: 1rem;"
												
											/>
											<input
												type="password"
												name="password"
												class="search-field"
												placeholder="Password"
											/>
					
										
										</div>
									</p>
									<style>
										.d-none{
											display: none;
										}
									</style>
									<div style="display:flex; width: 100%; justify-content: center; " >

										<button type="submit" class="banner-btn" id="loginButton" style="width: 100%;text-align: center; font-size: 1.5rem;">Login</button> 
										<!-- Add icon library -->

									</div>
								</form>
							
							</div>
						</div>

						<div class="slider-item">
							<img
								src="./assets/images/banner-2.jpg"
								alt="modern sunglasses"
								class="banner-img"
							/>

							<div class="banner-content">
								<p class="banner-subtitle">Trending Kicks</p>

								<h2 class="banner-title">Modern Shoes &amp; Sneakers</h2>

								<p class="banner-text">starting at Ksh <b>1500</b>.00</p>

								<a href="#product-grid" class="banner-btn">Shop now</a>
							</div>
						</div>

					
						</div>
					</div>
				</div>
			</div>
		<!--
    - FOOTER
  -->

		<footer>
			<div class="footer-category">
			

			<div class="footer-nav">
				<div class="container">
				

					<ul class="footer-nav-list">
						<li class="footer-nav-item">
							<h2 class="nav-title">Products</h2>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Prices drop</a>
						</li>

						<li class="footer-nav-item">
							<a href="#product-grid" class="footer-nav-link">New products</a>
						</li>

						<li class="footer-nav-item">
							<a href="#product-grid" class="footer-nav-link">Best sales</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Contact us</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Sitemap</a>
						</li>
					</ul>

					<ul class="footer-nav-list">
						<li class="footer-nav-item">
							<h2 class="nav-title">Our Company</h2>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Delivery</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Legal Notice</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Terms and conditions</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">About us</a>
						</li>

						<li class="footer-nav-item">
							<a href="#" class="footer-nav-link">Secure payment</a>
						</li>
					</ul>

				

					<ul class="footer-nav-list">
						<li class="footer-nav-item">
							<h2 class="nav-title">Contact</h2>
						</li>

						<li class="footer-nav-item flex">
							<div class="icon-box">
								<ion-icon name="location-outline"></ion-icon>
							</div>
              <!-- TODO Add Business location -->

							<address class="content">
								Nairobi, Kenya
							</address>
						</li>

						<li class="footer-nav-item flex">
							<div class="icon-box">
								<ion-icon name="call-outline"></ion-icon>
							</div>
              <!-- TODO Add phone number -->

							<a href="tel:+607936-8058" class="footer-nav-link"
								>(607) 9</a
							>
						</li>

						<li class="footer-nav-item flex">
							<div class="icon-box">
								<ion-icon name="mail-outline"></ion-icon>
							</div>
              <!-- TODO Add email address -->


							<a href="mailto:example@gmail.com" class="footer-nav-link"
								>example@gmail.com</a
							>
						</li>
					
					</ul>

					<ul class="footer-nav-list">
						<li class="footer-nav-item">
							<h2 class="nav-title">Our Newsletter</h2>
						</li>

						<li class="footer-nav-item flex">
							<form  action="/newsletter/add" method="post">
								<div class="newsletter-header">
									<!-- <h3 class="newsletter-title">Subscribe Newsletter.</h3> -->
		
									<p class="newsletter-desc">
										Subscribe <b>Gift's</b> mailing list to get latest products and discount
										update.
									</p>
								</div>
		
								<input
									id="newsletterEmail"
									type="email"
									name="newsletterEmail"
									class="email-field"
									placeholder="Email Address"
									required
								/>
		
								<button type="submit" class="btn-newsletter">Subscribe</button>
							</form>
						</li>

					</ul>
              <!-- TODO Add Socials -->




					<ul class="footer-nav-list">
						<li class="footer-nav-item">
							<h2 class="nav-title">Follow Us</h2>
						</li>

						<li>
							<ul class="social-link">
								<li class="footer-nav-item">
									<a href="#" class="footer-nav-link">
										<ion-icon name="logo-facebook"></ion-icon>
									</a>
								</li>

								<li class="footer-nav-item">
									<a href="#" class="footer-nav-link">
										<ion-icon name="logo-twitter"></ion-icon>
									</a>
								</li>

								<li class="footer-nav-item">
									<a href="#" class="footer-nav-link">
										<ion-icon name="logo-linkedin"></ion-icon>
									</a>
								</li>

								<li class="footer-nav-item">
									<a href="#" class="footer-nav-link">
										<ion-icon name="logo-instagram"></ion-icon>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="container">
					<img
						src="./assets/images/payment.png"
						alt="payment method"
						class="payment-img"
					/>

					<p class="copyright">
						 &copy; Made By <a href="https://www.github.com/ElvisKemoi" target="_blank">Elvis Kemoi</a> all rights reserved.
					</p>
				</div>
			</div>
		</footer>

		<!--
    - custom js link
  -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="./assets/js/script.js"></script>


		<!--
    - ionicon link
  -->
		<script
			type="module"
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
		></script>
		<script
			nomodule
			src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
		></script>
		<script src="https://smtpjs.com/v3/smtp.js">
		</script>
		
	</body>
</html>
